@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
    color: #424242;
    font-family: Lato, Helvetica Neue, Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    line-height: 1.7rem;
}
